<!-- <h2>יש לאסוף מוצרים אלו במחלקות המתאימות</h2>

<div class="flex-container">
    <div *ngFor="let category of categories" class="flex">
      <ul class="p-col" *ngIf="checkCategoryhasData(category.id)"> <b>{{ category.name}}</b> 
        <li *ngFor="let product of getProductsByCategory(category.id)" class="custom-li">{{ product.name }}</li>
      </ul>
    </div>
</div> -->
<!-- src/app/app.component.html -->
<div class="container">
  <h2 class="center-text">יש לאסוף מוצרים אלו במחלקות המתאימות</h2>

  <div class="flex-container">
    <div *ngFor="let category of categories" class="flex-item">
      <div class="category-container" *ngIf="checkCategoryhasData(category.id)">
        <h3>{{ category.name }}</h3>
        <ul>
          <li *ngFor="let product of getProductsByCategory(category.id)" class="custom-li">{{ product.name }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
