
<div>
<!-- <p-input [(ngModel)]="productName" placeholder="הכנס שם מוצר"></p-input> -->
<!-- <p-listbox [options]="categoryList"  optionLabel="name"
 [style]="{'width':'15rem'}" (onChange)="onItemSelect($event)">
    <ng-template let-item pTemplate="item">
        {{item.name}}
      </ng-template>
</p-listbox>
<p-button label="הוסף מוצר" class="round-button" (click)="onClick()"></p-button> -->

</div>


<div class="row-container">
    <div class="p-col">
        <!-- Your third item -->
        <p-button label="הוסף מוצר" class="round-button" (click)="onClick(productNameInput.value,category.value)"></p-button>
    </div>
    <div class="p-col">
        <!-- Your second item -->
        <p-listbox  #category [options]="categoryList" optionLabel="name" [style]="{'width':'15rem'}" (onChange)="onItemSelect($event)">
            <ng-template let-item pTemplate="item">
                {{item.name}}
            </ng-template>
        </p-listbox>
    </div>
  <!-- {{category.value|json}} -->
    <div class="p-col">
        <!-- Your first item -->
    <input type="text" #productNameInput pInputText placeholder="הוסף שם מוצר" />
    </div>
</div>
<app-product-menu *ngIf="" [productList]="productList"  [categories]="categoryList"></app-product-menu>

